    <!------------------------------------------------------------------------------------------------------------------------>
    
    <!-- Sweet Alert -->

    <!------------------------------------------------------------------------------------------------------------------------>

    <!-- Sweet Alert 2 -->
    <!-- https://sweetalert2.github.io/#download -->

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!------------------------------------------------------------------------------------------------------------------------>